* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  background-color: whitesmoke;
}

button {
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

h2 {
  text-align: center;
}

.starting-button {
  background-color: green;
  color: white;
  border: 3px solid black;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

main.the-game {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  padding: 2rem 0;
}

p {
  text-align: center;
}

form.answer-tab {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form.answer-tab > input {
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
}

.letters-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.letter-button {
  color: white;
  text-align: center;
  font-size: 1rem;
  border: none;
  background-color: rgb(46, 41, 41);
  padding: 1rem;
}

button.submit-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: green;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

button:disabled {
  cursor: no-drop;
  background-color: red;
  opacity: 30%;
}

.answers-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-answer {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 800;
  border: 1px solid black;
  padding: 0.5rem;
  background-color: black;
  color: white;
}
